USE [master]
GO
/****** Object:  Database [SilverEQ]    Script Date: 07.06.2024 13:00:02 ******/
CREATE DATABASE [SilverEQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SilverEQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SilverEQ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SilverEQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SilverEQ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SilverEQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SilverEQ]
GO
/****** Object:  Table [dbo].[Check]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check](
	[ID_Check] [int] IDENTITY(1,1) NOT NULL,
	[Number_Check] [nvarchar](50) NULL,
	[Date_Check] [datetime] NOT NULL,
	[Department_Check] [int] NOT NULL,
	[Norm_Check] [decimal](20, 6) NOT NULL,
	[SilverType_Check] [int] NOT NULL,
	[Coverage_Check] [decimal](10, 5) NOT NULL,
	[Amount_Check] [int] NOT NULL,
	[Decimal_Check] [int] NOT NULL,
	[Order_Check] [int] NULL,
 CONSTRAINT [PK_Check] PRIMARY KEY CLUSTERED 
(
	[ID_Check] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[ID_Comment] [int] IDENTITY(1,1) NOT NULL,
	[Text_Comment] [nvarchar](100) NOT NULL,
	[User_Comment] [int] NOT NULL,
	[Date_Comment] [datetime] NOT NULL,
	[Order_Comment] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[ID_Comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecimalNumber]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecimalNumber](
	[ID_Decimal] [int] IDENTITY(1,1) NOT NULL,
	[Title_Decimal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Norm] PRIMARY KEY CLUSTERED 
(
	[ID_Decimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Code_Department] [int] NOT NULL,
	[IsAtWork_Department] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Code_Department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID_Manufacturer] [int] NOT NULL,
	[Name_Manufacturer] [nvarchar](80) NOT NULL,
	[Image_Manufacturer] [varbinary](max) NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID_Manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Norm]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Norm](
	[ID_Norm] [int] IDENTITY(1,1) NOT NULL,
	[Decimal_Norm] [int] NOT NULL,
	[SilverType_Norm] [int] NOT NULL,
	[Title_Norm] [decimal](20, 6) NOT NULL,
 CONSTRAINT [PK_Norm_1] PRIMARY KEY CLUSTERED 
(
	[ID_Norm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[Date_Order] [datetime] NOT NULL,
	[DateEnd_Order] [datetime] NULL,
	[DateClosed_Order] [datetime] NULL,
	[Manufacturer_Order] [int] NOT NULL,
	[Priority_Order] [int] NULL,
	[Status_Order] [int] NOT NULL,
	[Desc_Order] [nvarchar](50) NULL,
	[Appointed_Order] [int] NULL,
	[Payment_Order] [money] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[ID_Part] [int] IDENTITY(1,1) NOT NULL,
	[Weight_Part] [decimal](10, 3) NULL,
	[Decimal_Part] [int] NOT NULL,
	[Cost_Part] [money] NULL,
	[Image_Part] [varbinary](max) NULL,
	[Name_Part] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Part] PRIMARY KEY CLUSTERED 
(
	[ID_Part] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartNecessary]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartNecessary](
	[ID_Necessary] [int] IDENTITY(1,1) NOT NULL,
	[Part_Necessary] [int] NOT NULL,
	[Order_Necessary] [int] NOT NULL,
	[Amount_Necessary] [int] NOT NULL,
 CONSTRAINT [PK_PartNecessary] PRIMARY KEY CLUSTERED 
(
	[ID_Necessary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[ID_Priority] [int] NOT NULL,
	[Title_Priority] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[ID_Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] NOT NULL,
	[Title_Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilverRequest]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilverRequest](
	[ID_Request] [int] IDENTITY(1,1) NOT NULL,
	[SilverType_Request] [int] NOT NULL,
	[User_Request] [int] NOT NULL,
	[Amount_Request] [decimal](12, 3) NOT NULL,
	[Priority_Request] [int] NULL,
	[Cost_Request] [money] NULL,
	[Status_Request] [int] NOT NULL,
	[Desc_Request] [nvarchar](90) NULL,
	[Date_Request] [datetime] NOT NULL,
	[DateEnd_Request] [datetime] NULL,
	[DateClosed_Request] [datetime] NULL,
 CONSTRAINT [PK_SilverRequest] PRIMARY KEY CLUSTERED 
(
	[ID_Request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilverType]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilverType](
	[Code_SilverType] [int] IDENTITY(1,1) NOT NULL,
	[Title_SilverType] [nvarchar](60) NOT NULL,
	[Amount_SilverType] [decimal](12, 3) NULL,
	[CostPerKG_SilverType] [money] NULL,
	[Image_SilverType] [varbinary](max) NULL,
 CONSTRAINT [PK_SilverType] PRIMARY KEY CLUSTERED 
(
	[Code_SilverType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID_Status] [int] NOT NULL,
	[Title_Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.06.2024 13:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Fullname_User] [nvarchar](80) NOT NULL,
	[DateOfBirth_User] [date] NOT NULL,
	[Email_User] [nvarchar](50) NULL,
	[Phone_User] [nvarchar](12) NOT NULL,
	[Role_User] [int] NOT NULL,
	[Department_User] [int] NULL,
	[Login_User] [varchar](50) NULL,
	[Password_User] [varchar](50) NULL,
	[Avatar_User] [varbinary](max) NULL,
	[Available_User] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Check] ON 

INSERT [dbo].[Check] ([ID_Check], [Number_Check], [Date_Check], [Department_Check], [Norm_Check], [SilverType_Check], [Coverage_Check], [Amount_Check], [Decimal_Check], [Order_Check]) VALUES (259, N'946', CAST(N'2024-05-05T00:00:00.000' AS DateTime), 4, CAST(0.011550 AS Decimal(20, 6)), 25, CAST(0.00425 AS Decimal(10, 5)), 8, 1028, NULL)
INSERT [dbo].[Check] ([ID_Check], [Number_Check], [Date_Check], [Department_Check], [Norm_Check], [SilverType_Check], [Coverage_Check], [Amount_Check], [Decimal_Check], [Order_Check]) VALUES (260, N'947', CAST(N'2024-02-25T00:00:00.000' AS DateTime), 13, CAST(0.011550 AS Decimal(20, 6)), 999, CAST(0.00420 AS Decimal(10, 5)), 6, 1002, NULL)
INSERT [dbo].[Check] ([ID_Check], [Number_Check], [Date_Check], [Department_Check], [Norm_Check], [SilverType_Check], [Coverage_Check], [Amount_Check], [Decimal_Check], [Order_Check]) VALUES (261, N'192', CAST(N'2024-03-05T00:00:00.000' AS DateTime), 13, CAST(0.261660 AS Decimal(20, 6)), 999, CAST(0.01365 AS Decimal(10, 5)), 1, 1003, NULL)
GO
SET IDENTITY_INSERT [dbo].[Check] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([ID_Comment], [Text_Comment], [User_Comment], [Date_Comment], [Order_Comment]) VALUES (1, N'ПЕТРОВИЧ, ТЫ КАК ПОКРЫВАТЬ НАЧАЛ, ТАМ ЖЕ ДИАМЕТР 0.1', 3, CAST(N'2024-05-25T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Comment] ([ID_Comment], [Text_Comment], [User_Comment], [Date_Comment], [Order_Comment]) VALUES (3, N'Я НЕ ПЕТРОВИЧ, БАРАН', 2, CAST(N'2024-05-27T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Comment] ([ID_Comment], [Text_Comment], [User_Comment], [Date_Comment], [Order_Comment]) VALUES (4, N'Ребята, надо Галину Игоревну попросить подать заявление на заказ серебра ПСР25', 1002, CAST(N'2004-05-26T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[DecimalNumber] ON 

INSERT [dbo].[DecimalNumber] ([ID_Decimal], [Title_Decimal]) VALUES (1001, N' АХАХАХАХАХ-01   ')
INSERT [dbo].[DecimalNumber] ([ID_Decimal], [Title_Decimal]) VALUES (1002, N' АКЖИ.065111.001-02   ')
INSERT [dbo].[DecimalNumber] ([ID_Decimal], [Title_Decimal]) VALUES (1003, N' АКЖИ.065112.001-01   ')
GO
SET IDENTITY_INSERT [dbo].[DecimalNumber] OFF
GO
INSERT [dbo].[Department] ([Code_Department], [IsAtWork_Department]) VALUES (1, 1)
INSERT [dbo].[Department] ([Code_Department], [IsAtWork_Department]) VALUES (2, 1)
INSERT [dbo].[Department] ([Code_Department], [IsAtWork_Department]) VALUES (3, 1)
GO
INSERT [dbo].[Manufacturer] ([ID_Manufacturer], [Name_Manufacturer], [Image_Manufacturer]) VALUES (2, N'Philips', NULL)
INSERT [dbo].[Manufacturer] ([ID_Manufacturer], [Name_Manufacturer], [Image_Manufacturer]) VALUES (3, N'Ibramed', NULL)
GO
SET IDENTITY_INSERT [dbo].[Norm] ON 

INSERT [dbo].[Norm] ([ID_Norm], [Decimal_Norm], [SilverType_Norm], [Title_Norm]) VALUES (1, 1001, 999, CAST(0.011550 AS Decimal(20, 6)))
INSERT [dbo].[Norm] ([ID_Norm], [Decimal_Norm], [SilverType_Norm], [Title_Norm]) VALUES (2, 1002, 999, CAST(0.010550 AS Decimal(20, 6)))
INSERT [dbo].[Norm] ([ID_Norm], [Decimal_Norm], [SilverType_Norm], [Title_Norm]) VALUES (3, 1003, 999, CAST(0.261660 AS Decimal(20, 6)))
GO
SET IDENTITY_INSERT [dbo].[Norm] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID_Order], [Date_Order], [DateEnd_Order], [DateClosed_Order], [Manufacturer_Order], [Priority_Order], [Status_Order], [Desc_Order], [Appointed_Order], [Payment_Order]) VALUES (1, CAST(N'2024-05-24T00:00:00.000' AS DateTime), NULL, NULL, 1, NULL, 1, NULL, 2, NULL)
INSERT [dbo].[Order] ([ID_Order], [Date_Order], [DateEnd_Order], [DateClosed_Order], [Manufacturer_Order], [Priority_Order], [Status_Order], [Desc_Order], [Appointed_Order], [Payment_Order]) VALUES (2, CAST(N'2024-01-20T00:00:00.000' AS DateTime), NULL, NULL, 2, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Order] ([ID_Order], [Date_Order], [DateEnd_Order], [DateClosed_Order], [Manufacturer_Order], [Priority_Order], [Status_Order], [Desc_Order], [Appointed_Order], [Payment_Order]) VALUES (3, CAST(N'2024-04-30T00:00:00.000' AS DateTime), NULL, NULL, 1, NULL, 2, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Part] ON 

INSERT [dbo].[Part] ([ID_Part], [Weight_Part], [Decimal_Part], [Cost_Part], [Image_Part], [Name_Part]) VALUES (2, CAST(0.005 AS Decimal(10, 3)), 1009, 500.0000, NULL, N'Гвоздь')
INSERT [dbo].[Part] ([ID_Part], [Weight_Part], [Decimal_Part], [Cost_Part], [Image_Part], [Name_Part]) VALUES (3, CAST(0.500 AS Decimal(10, 3)), 1890, 16000.0000, NULL, N'Барабан')
INSERT [dbo].[Part] ([ID_Part], [Weight_Part], [Decimal_Part], [Cost_Part], [Image_Part], [Name_Part]) VALUES (4, CAST(0.024 AS Decimal(10, 3)), 1256, 124.0000, NULL, N'Трубка')
SET IDENTITY_INSERT [dbo].[Part] OFF
GO
SET IDENTITY_INSERT [dbo].[PartNecessary] ON 

INSERT [dbo].[PartNecessary] ([ID_Necessary], [Part_Necessary], [Order_Necessary], [Amount_Necessary]) VALUES (1, 6, 8, 2)
INSERT [dbo].[PartNecessary] ([ID_Necessary], [Part_Necessary], [Order_Necessary], [Amount_Necessary]) VALUES (2, 5, 8, 1)
INSERT [dbo].[PartNecessary] ([ID_Necessary], [Part_Necessary], [Order_Necessary], [Amount_Necessary]) VALUES (3, 6, 9, 2)
SET IDENTITY_INSERT [dbo].[PartNecessary] OFF
GO
INSERT [dbo].[Priority] ([ID_Priority], [Title_Priority]) VALUES (1, N'Пониженный')
INSERT [dbo].[Priority] ([ID_Priority], [Title_Priority]) VALUES (2, N'Обычный')
INSERT [dbo].[Priority] ([ID_Priority], [Title_Priority]) VALUES (3, N'Высокий')
GO
INSERT [dbo].[Role] ([ID_Role], [Title_Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID_Role], [Title_Role]) VALUES (2, N'Начальник цеха')
INSERT [dbo].[Role] ([ID_Role], [Title_Role]) VALUES (3, N'Бухгалтер')
GO
SET IDENTITY_INSERT [dbo].[SilverRequest] ON 

INSERT [dbo].[SilverRequest] ([ID_Request], [SilverType_Request], [User_Request], [Amount_Request], [Priority_Request], [Cost_Request], [Status_Request], [Desc_Request], [Date_Request], [DateEnd_Request], [DateClosed_Request]) VALUES (1, 200, 2, CAST(3.000 AS Decimal(12, 3)), 2, 12222.0000, 1, N'roflan', CAST(N'2024-06-05T15:35:52.730' AS DateTime), CAST(N'2024-06-05T15:35:33.753' AS DateTime), NULL)
INSERT [dbo].[SilverRequest] ([ID_Request], [SilverType_Request], [User_Request], [Amount_Request], [Priority_Request], [Cost_Request], [Status_Request], [Desc_Request], [Date_Request], [DateEnd_Request], [DateClosed_Request]) VALUES (2, 10, 2, CAST(0.110 AS Decimal(12, 3)), 2, 0.0000, 1, N'', CAST(N'2024-06-07T10:46:42.730' AS DateTime), CAST(N'2024-06-07T10:46:33.430' AS DateTime), NULL)
INSERT [dbo].[SilverRequest] ([ID_Request], [SilverType_Request], [User_Request], [Amount_Request], [Priority_Request], [Cost_Request], [Status_Request], [Desc_Request], [Date_Request], [DateEnd_Request], [DateClosed_Request]) VALUES (3, 25, 2, CAST(3.000 AS Decimal(12, 3)), 2, 0.0000, 1, N'', CAST(N'2024-06-07T10:51:20.310' AS DateTime), CAST(N'2024-06-07T10:51:09.520' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SilverRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[SilverType] ON 

INSERT [dbo].[SilverType] ([Code_SilverType], [Title_SilverType], [Amount_SilverType], [CostPerKG_SilverType], [Image_SilverType]) VALUES (5, N'контакт СД 4005', NULL, 48500.0000, NULL)
INSERT [dbo].[SilverType] ([Code_SilverType], [Title_SilverType], [Amount_SilverType], [CostPerKG_SilverType], [Image_SilverType]) VALUES (10, N'хлористый палладий', NULL, 6683000.0000, NULL)
INSERT [dbo].[SilverType] ([Code_SilverType], [Title_SilverType], [Amount_SilverType], [CostPerKG_SilverType], [Image_SilverType]) VALUES (25, N'серебро ПСР 2.5', NULL, 9900.0000, NULL)
SET IDENTITY_INSERT [dbo].[SilverType] OFF
GO
INSERT [dbo].[Status] ([ID_Status], [Title_Status]) VALUES (1, N'Новый')
INSERT [dbo].[Status] ([ID_Status], [Title_Status]) VALUES (2, N'В работе')
INSERT [dbo].[Status] ([ID_Status], [Title_Status]) VALUES (3, N'Завершён')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID_User], [Fullname_User], [DateOfBirth_User], [Email_User], [Phone_User], [Role_User], [Department_User], [Login_User], [Password_User], [Avatar_User], [Available_User]) VALUES (2, N'Иванов Алексей Анатольевич', CAST(N'2004-05-30' AS Date), N'alexey_ivanov04@mail.ru', N'89819748690', 1, 4, N'admin', N'21232F297A57A5A743894A0E4A801FC3', NULL, 1)
INSERT [dbo].[User] ([ID_User], [Fullname_User], [DateOfBirth_User], [Email_User], [Phone_User], [Role_User], [Department_User], [Login_User], [Password_User], [Avatar_User], [Available_User]) VALUES (3, N'Зубенко Михаил Петрович', CAST(N'1987-02-23' AS Date), N'zubenkoHeHe@gmail.com', N'89119657812', 2, 11, N'CoolLogin', N'06001A2EBE34C730FA5040DAAB6D60B9', NULL, 1)
INSERT [dbo].[User] ([ID_User], [Fullname_User], [DateOfBirth_User], [Email_User], [Phone_User], [Role_User], [Department_User], [Login_User], [Password_User], [Avatar_User], [Available_User]) VALUES (1002, N'Петров Пётр Петрович', CAST(N'1972-02-12' AS Date), NULL, N'88005553535', 2, 7, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_DecimalNumber] FOREIGN KEY([Decimal_Check])
REFERENCES [dbo].[DecimalNumber] ([ID_Decimal])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_DecimalNumber]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Department] FOREIGN KEY([Department_Check])
REFERENCES [dbo].[Department] ([Code_Department])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Department]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_Order] FOREIGN KEY([Order_Check])
REFERENCES [dbo].[Order] ([ID_Order])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_Order]
GO
ALTER TABLE [dbo].[Check]  WITH CHECK ADD  CONSTRAINT [FK_Check_SilverType] FOREIGN KEY([SilverType_Check])
REFERENCES [dbo].[SilverType] ([Code_SilverType])
GO
ALTER TABLE [dbo].[Check] CHECK CONSTRAINT [FK_Check_SilverType]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Order] FOREIGN KEY([Order_Comment])
REFERENCES [dbo].[Order] ([ID_Order])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Order]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([User_Comment])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Norm]  WITH CHECK ADD  CONSTRAINT [FK_Norm_DecimalNumber] FOREIGN KEY([Decimal_Norm])
REFERENCES [dbo].[DecimalNumber] ([ID_Decimal])
GO
ALTER TABLE [dbo].[Norm] CHECK CONSTRAINT [FK_Norm_DecimalNumber]
GO
ALTER TABLE [dbo].[Norm]  WITH CHECK ADD  CONSTRAINT [FK_Norm_SilverType] FOREIGN KEY([SilverType_Norm])
REFERENCES [dbo].[SilverType] ([Code_SilverType])
GO
ALTER TABLE [dbo].[Norm] CHECK CONSTRAINT [FK_Norm_SilverType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Manufacturer] FOREIGN KEY([Manufacturer_Order])
REFERENCES [dbo].[Manufacturer] ([ID_Manufacturer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Manufacturer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Priority] FOREIGN KEY([Priority_Order])
REFERENCES [dbo].[Priority] ([ID_Priority])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Priority]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([Status_Order])
REFERENCES [dbo].[Status] ([ID_Status])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([Appointed_Order])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_DecimalNumber] FOREIGN KEY([Decimal_Part])
REFERENCES [dbo].[DecimalNumber] ([ID_Decimal])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_DecimalNumber]
GO
ALTER TABLE [dbo].[PartNecessary]  WITH CHECK ADD  CONSTRAINT [FK_PartNecessary_Order] FOREIGN KEY([Order_Necessary])
REFERENCES [dbo].[Order] ([ID_Order])
GO
ALTER TABLE [dbo].[PartNecessary] CHECK CONSTRAINT [FK_PartNecessary_Order]
GO
ALTER TABLE [dbo].[PartNecessary]  WITH CHECK ADD  CONSTRAINT [FK_PartNecessary_Part] FOREIGN KEY([Part_Necessary])
REFERENCES [dbo].[Part] ([ID_Part])
GO
ALTER TABLE [dbo].[PartNecessary] CHECK CONSTRAINT [FK_PartNecessary_Part]
GO
ALTER TABLE [dbo].[SilverRequest]  WITH CHECK ADD  CONSTRAINT [FK_SilverRequest_Priority] FOREIGN KEY([Priority_Request])
REFERENCES [dbo].[Priority] ([ID_Priority])
GO
ALTER TABLE [dbo].[SilverRequest] CHECK CONSTRAINT [FK_SilverRequest_Priority]
GO
ALTER TABLE [dbo].[SilverRequest]  WITH CHECK ADD  CONSTRAINT [FK_SilverRequest_SilverType] FOREIGN KEY([SilverType_Request])
REFERENCES [dbo].[SilverType] ([Code_SilverType])
GO
ALTER TABLE [dbo].[SilverRequest] CHECK CONSTRAINT [FK_SilverRequest_SilverType]
GO
ALTER TABLE [dbo].[SilverRequest]  WITH CHECK ADD  CONSTRAINT [FK_SilverRequest_Status] FOREIGN KEY([Status_Request])
REFERENCES [dbo].[Status] ([ID_Status])
GO
ALTER TABLE [dbo].[SilverRequest] CHECK CONSTRAINT [FK_SilverRequest_Status]
GO
ALTER TABLE [dbo].[SilverRequest]  WITH CHECK ADD  CONSTRAINT [FK_SilverRequest_User] FOREIGN KEY([User_Request])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[SilverRequest] CHECK CONSTRAINT [FK_SilverRequest_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Department] FOREIGN KEY([Department_User])
REFERENCES [dbo].[Department] ([Code_Department])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Department]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role_User])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
